<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">Tanaphat</div>

    <div class="menu-icon" (click)="toggleMenu()">
      <mat-icon>{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
    </div>

    <ul class="nav-links" [class.active]="menuOpen">
      <li><a [routerLink]="'/'">Home</a></li>
      <li><a [routerLink]="'/profile'">Profile</a></li>
      <li><a [routerLink]="'/experience'">Experiences</a></li>
      <li><a [routerLink]="'/contact'">Contact</a></li>
    </ul>
  </div>
</nav>
