.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; /* หรือใช้ theme ก็ได้ */
  color: black;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* เงานิดหน่อย */
  display: flex;
}

.app-name {
  font-weight: 500;
  color: black;
  margin-left: 2rem;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-links a {
  color: black !important;
  text-decoration: none;
}

